BOT_TOKEN=your:token
SUDO=5479189128
HISTORY_CHANNEL=-1003156811776

### if you want to use local bot api, put here
# LOCAL_BOT_API_BASE_URL=http://127.0.0.1:8081
# TELEGRAM_API_ID=
# TELEGRAM_API_HASH=
# TELEGRAM_LOCAL=1

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_BROKER_DB=0
REDIS_RESULT_DB=1

# spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=